/tailsend
/tailsend.exe
*.exe
.DS_Store
/dist/
desktop/Tailsend
desktop/Tailsend.app
desktop/Tailsend.dmg
desktop/dist-release/
desktop/build/bin/
desktop/build/*.iconset
desktop/frontend/node_modules/
node_modules/
